@import "./fonts.css";
@import "tailwindcss";

@plugin "daisyui" {
  /* themes: light --default; */
  /* themes: autumn --default; */
  /* themes: cupcake --default; */
  themes: pastel --default;
  /* themes: valentine --default; */
}

:root {
  --color-primary: #81543a;
  /* --color-primary: #233e81; */
  /* --color-primary: #326196; */
}

.debug {
  border: 2px solid red;
}

.debug-b {
  border: 2px solid blue;
}

.debug-g {
  border: 2px solid green;
}

.bg-primary {
  background-color: var(--color-primary);
}

.color-primary {
  color: var(--color-primary);
}
